:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}
html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scrollbar-width: none;
}
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: rgb(20, 20, 20);
    font-size: 1vw;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
}
.header {
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.loader {
    position: fixed;
    top: 0px;
    z-index: 10;
    display: none;
    width: 100vw;
    height: 100vh;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    background-color: rgb(20, 20, 20);
    animation: slideUp 2.5s forwards;
}
.loader-img {
    width: 30em;
    animation: fadeOut 2s forwards;
}
@keyframes slideUp {
    0% { -webkit-transform: translateY(0); }
    80% { -webkit-transform: translateY(0); }
    100% { -webkit-transform: translateY(-100%); }
}
@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 2s, opacity 2s linear;
    }
}

.list-entry {
    list-style-type:none;
    padding: 30px;
}
.list-entry h2 {
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-image: linear-gradient(to left, transparent,white, transparent) 1 0%;
}
#content {
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
  padding-top:2em;
  padding-bottom:2em;
  text-decoration: none;
}
ul {
    margin-top: 10vh;
}
.byline {
  font-size:.75rem
}
.middot:after {
  content:"·";
  display:inline-block
}
time,
.author,
.updated {
  font-weight:700
}
.article_header,
.page_header {
  border-bottom:1px dotted #db67a7;
  padding-bottom:4px
}
.article_header img {
  width:100%
}
.related {
  border-top:1px dotted #db67a7;
  margin-top:18px
}
.related h3 {
  margin-top:4px;
  margin-bottom:0
}
.related ul {
  margin-top:4px;
  padding-left:0
}
.related ul h4 {
  margin-top:4px;
  margin-bottom:0
}
.article_header>h1,
.page_header>h1 {
  margin:.1rem
}
a{
    text-decoration: none;
    color:white;
    transition: 0.5s;
}
a:hover {
    text-shadow: 1px 0px 20px #fff;
}